<h2>These are the products</h2>
<div class="columns">
<div class="row">
    <div class="products">
        <div class="placeholder"></div>
        <p>Product1</p>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product2</p>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product3</p>
    </div>
</div>

<div class="row">
    <div class="products">
        <div class="placeholder"></div>
        <p>Product1</p>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product2</p>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product3</p>
    </div>
</div>

<div class="row">
    <div class="products">
        <div class="placeholder"></div>
        <p>Product1</p>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product2</p>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product3</p>
    </div>
</div>
</div>
