<h2>These are the products</h2>
<div class="columns">
<div class="row">
    <div class="products">
        <div class="placeholder"></div>
        <p>Product1</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product2</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product3</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>
</div>

<div class="row">
    <div class="products">
        <div class="placeholder"></div>
        <p>Product1</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product2</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product3</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>
</div>

<div class="row">
    <div class="products">
        <div class="placeholder"></div>
        <p>Product1</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product2</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product3</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>
</div>

<div class="row">
    <div class="products">
        <div class="placeholder"></div>
        <p>Product1</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product2</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>

    <div class="products">
        <div class="placeholder"></div>
        <p>Product3</p>
        <details>
            <summary>Show Details</summary>
            <p><strong>Description:</strong> This is product details</p>
            <p><strong>Price:</strong> $300</p>
        </details>
    </div>
</div>
</div>