<div style="height: 20px;"></div>

<form [formGroup]="customer" class="customer-card">
  <h2>Customer Information</h2>
  <p>Name: <input type="text" formControlName="name" /></p>
  <p>Email: <input type="email" formControlName="email" /></p>
  <p>Phone Number: <input type="number" formControlName="phone_number" /></p>
  <p>Address: <input type="text" formControlName="address" /></p>
  <p><input type="button" value="Save" /></p>
</form>

<div style="height: 20px;"></div>

<div class="customer-card">
  Name: {{ customer.value.name }} <br>
  Email: {{ customer.value.email }} <br>
  Phone Number: {{ customer.value.phone_number }} <br>
  Address: {{ customer.value.address }} <br>
</div>

